@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

$primary: #e6ba38;
$primary-dark: #0a515a;
$c1: $primary;
$b2: #222;
$b3: #333;
$w1: #fff;
$w2: #eee;
$t1: all 0.5s ease 0s;

$family-sans-serif: 'Montserrat', sans-serif;

@import "../node_modules/bulma/bulma.sass";

body {

  color: $grey-dark;

  .title {
    color: $grey-dark;
  }

  a.navbar-item:hover {
    color: $primary;
  }

  .navbar-link:not(.is-arrowless)::after {
    display: none;
  }

  .navbar-dropdown {
    right: 0;
    left: auto;
  }

  .hero-landing {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-landing .img-profile {
    max-height: 100vh;
    z-index: 1;
    position: absolute;

  }

  .social-icons-title {
    gap: 5px
  }

  .is-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  .social-icons-title a {
    color: $white;
    background-color: $grey-dark;
    border-radius: 50%;
    padding: 10px 15px;
  }

  .title-rotate {
    transform: rotate(-90deg);
    text-wrap: nowrap;
  }

  .title-rotate:after {
    background-color: $primary;
    content: "";
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
  }

  #aboutme {
    min-height: 500px;
    margin: 50px 0;
  }

  #skills {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
      height: 80vh;
      background: #fff0;
    }

    .profile-skills {
      display: flex;
      width: 100%;
      align-items: flex-start;
    }

    .profile-skills>div {
      border-radius: 2px;
      position: relative;
    }

    ul.skills {
      width: 90%;
      position: relative;
      margin: 0 !important;
    }

    ul.skills:before {
      content: "Skills";
      text-transform: uppercase;
      position: absolute;
      top: -35px;
      height: 50px;
      width: 100%;
      left: 0;
      padding: 15px 15px 0 0;
      text-align: end;
      font-weight: 600;
      z-index: 1;
      transition: $t1;
      font-size: 25px;
      line-height: 25px;
    }

    ul.skills2:before {
      content: "Tools";
    }

    ul.skills3:before {
      content: "Codes";
    }

    ul.skills li {
      --per: 50;
      --dur: calc(calc(var(--per) / 100) * 1.5s);
      margin: 0 0 5px 0;
      list-style: none;
      padding: 20px 0;
      position: relative;
      text-transform: uppercase;
      font-size: 15px;
    }

    ul.skills li:before {
      content: "";
      position: absolute;
      height: 16px;
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 2px;
      --track: hsla(60, 5%, 4%, 0.251);
      background: linear-gradient(90deg, var(--track) calc(var(--per) * 1% + -1px), #eee calc(var(--per) * 1% + -1px));
    }

    ul.skills2 li:before {
      --track: hsla(60, 5%, 4%, 0.251);
    }

    ul.skills3 li:before {
      --track: hsla(60, 5%, 4%, 0.251);
    }

    ul.skills li:after {
      content: "";
      height: 16px;
      margin: 0;
      background: $primary;
      position: absolute;
      left: 0;
      width: 0%;
      bottom: 0;
      transition: all var(--dur) ease 0s;
      animation: start 1s ease 0s 2 alternate;
      border: none;
    }

    ul.skills2 li:after {
      background: $primary;
    }

    ul.skills3 li:after {
      background: $primary;
    }

    ul.skills li:hover {
      transition: $t1;
    }

    ul.skills:hover li:after,
    label:hover+ul.skills li:after,
    input:checked+label+ul.skills li:after {
      width: calc(calc(var(--per) * 1%) - 2px);
    }

    @keyframes start {
      100% {
        width: calc(calc(var(--per) * 1%) - 2px);
      }
    }

    ul.skills2 li:after {
      animation-delay: 0.5s;
    }

    ul.skills3 li:after {
      animation-delay: 1s;
    }

    ul.skills li span {
      font-weight: 500;
    }

    ul.skills li span:before {
      position: absolute;
      right: -25px;
      top: 43px;
      transition: $t1;
      content: "";
      opacity: 1;
      border: 7px solid #fff0;
    }

    ul.skills li span:after {
      position: absolute;
      right: -40px;
      top: 38px;
      transition: $t1;
      counter-reset: percent var(--per);
      content: counter(percent);
      color: $grey-dark;
      opacity: 1 !important;
      padding: 4px 6px;
      border-radius: 1px;
      font-weight: bold;
      pointer-events: none;
    }

    ul.skills li:hover span:after,
    .profile-skills input:checked+label+ul.skills li span:after {
      transition: $t1;
      right: calc(calc(85 - var(--per)) * 1%);
      right: calc(calc(calc(100 - var(--per)) * 1%) - 40px);
      opacity: 1;
      background: $c1;
    }

    ul.skills2 li:hover span:after {
      background: $primary;
    }

    ul.skills3 li:hover span:after {
      background: $primary;
    }

    ul.skills li.sk-ani {
      --per: 85;
    }

    ul.skills li.sk-cms {
      --per: 75;
    }

    ul.skills li.sk-dis {
      --per: 90;
    }

    ul.skills li.sk-dtb {
      --per: 65;
    }

    ul.skills li.sk-pro {
      --per: 60;
    }

    ul.skills li.sk-res {
      --per: 90;
    }

    ul.skills li.sk-gim {
      --per: 90;
    }

    ul.skills li.sk-ado {
      --per: 60;
    }

    ul.skills li.sk-not {
      --per: 85;
    }

    ul.skills li.sk-tri {
      --per: 70;
    }

    ul.skills li.sk-wor {
      --per: 90;
    }

    ul.skills li.sk-tre {
      --per: 65;
    }

    ul.skills li.sk-css {
      --per: 95;
    }

    ul.skills li.sk-htm {
      --per: 90;
    }

    ul.skills li.sk-jav {
      --per: 70;
    }

    ul.skills li.sk-php {
      --per: 80;
    }

    ul.skills li.sk-sql {
      --per: 65;
    }

    ul.skills li.sk-pug {
      --per: 40;
    }

    .profile-skills input {
      display: none;
    }

    .profile-skills label {
      background: $w1;
      position: absolute;
      top: -61px;
      left: 22px;
      z-index: 2;
      width: 55px;
      height: 55px;
      border-radius: 100%;
      cursor: pointer;
      transition: $t1;
      box-shadow: 0 0 0 0 $w1;
    }

    .profile-skills label:before {
      content: "";
      background: #fff0;
      position: absolute;
      top: 12px;
      left: 11px;
      z-index: 2;
      border: 9px solid $b2;
      border-top-width: 0;
      border-right-width: 0;
      transform: rotate(-45deg);
      width: 33px;
      height: 22px;
      border-radius: 2px;
      transition: $t1;
    }

    .profile-skills label:hover {
      box-shadow: 0 0 0 3px $w1;
      transition: $t1;
    }

    .profile-skills label:hover:before {
      border-color: $b2;
      transition: $t1;
    }

    .profile-skills input:checked+label {
      box-shadow: 0 0 0 6px $w1;
      transition: $t1;
    }

    .profile-skills input:checked+label:before {
      border-color: $primary;
    }

    .profile-skills input#sk2:checked+label:before {
      border-color: #9acd32;
    }

    .profile-skills input#sk3:checked+label:before {
      border-color: #ff4500;
    }

    label[for="sk1"] {
      display: none;
      /*left: -10px;*/
    }

    label[for="sk2"] {
      display: none;
      /*left: calc(34% - 6px);*/
    }

    label[for="sk3"] {
      display: none;
      /*left: -10px;*/
    }


    label[for="sk1"]:before {
      border-color: $grey-dark;
    }

    ul.skills li.more {
      padding: 0;
      margin-bottom: 20px;
    }

    ul.skills li.more:before,
    ul.skills li.more:after {
      display: none;
    }

    ul.skills li.more:hover {
      filter: none !important;
    }

    ul.skills li.more div {
      max-height: 0;
      transition: $t1;
      overflow: hidden;
      padding: 0;
      width: 100%;
    }

    ul.skills li.more input:checked~div {
      max-height: 150px;
      transition: $t1;
      padding: 20px 0 0;
    }

    ul.skills li.more div span:before,
    ul.skills li.more div span:after {
      display: none;
    }

    ul.skills li.more label {
      right: 0;
      left: inherit;
      top: inherit;
      bottom: -70px;
      background-size: 100% 300%;
      background-position-y: 100%;
      transition: $t1;
      width: 55px;
      height: 55px;
      right: -50px;
    }

    ul.skills li.more label:before {
      border: 0;
      height: 100%;
      width: 100%;
      transform: rotate(0deg);
      content: "+";
      content: "\271A";
      font-size: 45px;
      line-height: 55px;
      left: 0;
      top: 0;
      text-align: center;
      color: $grey-dark;
    }

    ul.skills li.more label:hover {
      background-position-y: 0%;
      transition: --$t1;
      box-shadow: 0 0 0 10px $w1;
    }

    ul.skills li.more span {
      border-radius: 1px;
      margin: 10px 10px 1px 1px;
      padding: 4px 8px;
      display: inline-block;
      border: 1px solid #eee;
    }

    ul.skills li.more span:hover {
      color: --w0;
      background: $c1;
      box-shadow: 0px 0px 5px 1px $c1;
      border-color: #fff2;
    }

    ul.skills li.more input:checked+label {
      box-shadow: 0 0 0 9px $grey-dark;
      background-position-y: 0%;
      color: #eee;
      bottom: -70px;
    }

    ul.skills li.more input:checked+label:before {
      content: "\2759";
      transform: rotate(90deg);
      font-weight: 600;
    }

    ul.skills li.more input:checked+label:hover {
      box-shadow: 0 0 0 0 $w1;
      background-position-y: 100%;
      color: $b2 !important;
    }

    @media only screen and (max-width: 1024px) {
      .content {
        height: 60vh;
      }

      .profile-skills {
        flex-direction: row;
        flex-wrap: wrap;
        top: 20px;
      }

      .profile-skills>div {
        width: 47% !important;
      }

      .profile-skills>div:nth-child(3) {
        width: 98% !important;
        margin-top: 120px;
      }
    }
  }

  #education {
    
  $color_blue: #447fff;
  $color_blue__fade: rgba($color_blue, .1);
  $color_white: #f9f9f9;
  $color_cloud: #eaeaea;

  .accordion {
    $accordion: &;
    //background: $color_white;

    &-tabs {
      display: none;
      :focus {outline: none;}
    }

    &-item {
      //border-bottom: 1px solid $color_cloud;

      &:last-child {
        border: none;
      }

      &__label {
        margin: 0;
        padding: 1.25rem;
        cursor: pointer;
        transition: padding .2s ease;
        position: relative;

        &:after {
          content: "";
          height: 4px;
          width: 4px;
          position: absolute;
          top: -4px;
          right: 1.25rem;
          bottom: 0;
          margin: auto;
          border: 3px solid transparent;
          border-radius: 2px;
          transform: rotate(45deg);
          //border-color: transparent $color_blue $color_blue transparent;
          opacity: 1;
          transition: opacity .1s ease;
        }

        &:hover {
          //background: lighten($color_blue, 28);
        }
      }

      &__container {
        padding: 0 1.25em;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition:
          padding .2s ease,
          opacity .5s .15s ease;
      }
    }

    &-active {
      //background: $color_blue__fade;

      .accordion-item {
        &__label {
          padding-bottom: 0;
          cursor: inherit;

          &:hover {
            background: none;
          }

          &:after {
            opacity: 0;
          }
        }

        &__container {
          padding: 1.25em;
          height: auto;
          opacity: 1;

          p, h1, h2, h3, h4, h5, h6 {
            &:first-child {
              margin-top: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

        }
      }
    }
  }

  @media (min-width: 600px) {

    .accordion-tabs {
      display: flex;
      font-weight: bold;
      gap: 20px;

      .accordion-tab {
        padding: 1rem 2rem;
        font: inherit;
        flex: 1;
        border: none;
        border-bottom: 5px solid #f5f5f5;
        cursor: pointer;
        background-color: #fff;
        transition: background .1s ease;
        &:hover{
          border-color: $primary;
        }

        &:last-child {
          border-right: 0;
        }

        &.accordion-active {
          background: $white;
          border-bottom: 5px solid $primary;
        }
      }
    }

    .accordion-item {
      padding: 2.4rem;
      display: none;
      border: none;
      //background: $color_white;
      min-height: 260px;

      &__label, &__container {
        padding: 0;
        transition: inherit;
      }

      &__label {
        margin-bottom: 1.5rem;
      }

      &.accordion-active {
        display: block;

        .accordion-item__container {
          padding: 0;
        }
      }
    }
  }

  .accordion {
    overflow: hidden;
    width: 100%;
    //max-width: 400px;

    @media (min-width: 600px) {
      //max-width: 600px;
    }
    + p {
      color: rgba(#fff, .8);
      font-weight: 300;
      font-size: .9rem;
      margin-top: 2rem;
      
    }
  }
    

    .timeline {
      position: relative;
      width: 660px;
      margin: 0 auto;
      margin-top: 20px;
      padding: 1em 0;
      list-style-type: none;
      display: block;
      border: none;
    }
    
    .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 6px;
      height: 100%;
      margin-left: -3px;
      background: rgb(80,80,80);
      background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
      background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
      
      z-index: 5;
    }

    .width-fix {
      width: 1344px;
    }
    
    .timeline li {
      padding: 1em 0;
    }
    
    .timeline li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    
    .direction-l {
      position: relative;
      width: 300px;
      float: left;
      text-align: right;
    }
    
    .direction-r {
      position: relative;
      width: 300px;
      float: right;
    }
    
    .flag-wrapper {
      position: relative;
      display: inline-block;
      
      text-align: center;
    }
    
    .flag {
      position: relative;
      display: inline;
      background: rgb(248,248,248);
      padding: 6px 10px;
      border-radius: 5px;
      
      font-weight: 600;
      text-align: left;
    }
    
    .direction-l .flag {
      -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }
    
    .direction-r .flag {
      -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
      box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }
    
    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: 50%;
      right: -36px;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -10px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid $primary;
      z-index: 10;
    }
    
    .direction-r .flag:before {
      left: -36px;
    }
    
    .direction-l .flag:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
    }
    
    .direction-r .flag:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
    }
    
    .time-wrapper {
      display: inline;
      line-height: 1em;
      font-size: 0.66666em;
      color: $b2;
      vertical-align: middle;
      font-weight: bold;
    }
    
    .direction-l .time-wrapper {
      float: left;
    }
    
    .direction-r .time-wrapper {
      float: right;
    }
    
    .time {
      display: inline-block;
      padding: 4px 6px;
      background: $primary;
    }
    
    .desc {
      margin: 1em 0.75em 0 0;
      font-size: 0.77777em;
      font-style: italic;
      line-height: 1.5em;
      text-wrap: wrap;
    }
    
    .direction-r .desc {
      margin: 1em 0 0 0.75em;
    }
    
    @media screen and (max-width: 660px) {
    
    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }
    
    .timeline li {
      padding: 2em 0;
    }
    
    .direction-l,
    .direction-r {
      float: none;
      width: 100%;
    
      text-align: center;
    }
    
    .flag-wrapper {
      text-align: center;
    }
    
    .flag {
      background: rgb(255,255,255);
      z-index: 15;
    }
    
    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      width: 12px;
      height: 12px;
      margin-left: -9px;
      background: #fff;
      border-radius: 10px;
      border: 4px solid rgb(255,80,80);
      z-index: 10;
    }
    
    .direction-l .flag:after,
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: rgb(255,255,255);
      border-width: 8px;
      pointer-events: none;
    }
    
    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }
    
    .direction-l .time-wrapper {
      float: none;
    }
    
    .direction-r .time-wrapper {
      float: none;
    }
    
    .desc {
      position: relative;
      margin: 1em 0 0 0;
      padding: 1em;
      background: rgb(245,245,245);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
      box-shadow: 0 0 1px rgba(0,0,0,0.20);
      
      z-index: 15;
    }
    
    .direction-l .desc,
    .direction-r .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      
      z-index: 15;
    }
    
    }
    
    @media screen and (min-width: 400px) {
    
    .direction-l .desc,
    .direction-r .desc {
      margin: 1em 4em 0 4em;
    }
    
    }
  }

  #portfolio {
    height: 700px;

    .intro {
      position: relative;
      width: 100%;
      height: 500px;
    }

    .left {
      //float: left;
      height: 100%;
      width: 100%;
      //padding: 3rem 3rem 3rem 5rem;
      display: table;
    }

    .left>div {
      display: table-cell;
      vertical-align: middle;
    }

    span {
      color: $primary;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: uppercase;
      font-family: sans-serif;
      margin-bottom: 4rem;
    }

    .slider {
      //float: right;
      //position: relative;
      width: 100%;
      height: 100%;
    }

    .slider li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: clip .7s ease-in-out, z-index 0s .7s;
      clip: rect(0, 100vw, 100vh, 100vw);
      display: table;
    }

    .center-y {
      display: table-cell;
      vertical-align: top;
      text-align: right;
      color: $white;
    }

    h3 {
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 3px 2px 4px $dark;
    }

    h3+a {
      display: inline-block;
      color: $white;
    }

    h3,
    h3+a {
      opacity: 0;
      transition: opacity .7s 0s, transform .5s .2s;
      transform: translate3d(0, 50%, 0);
      background-color: #000000d1;
      padding: 10px 15px;
    }

    li.current h3,
    li.current h3+a {
      opacity: 1;
      transition-delay: 1s;
      transform: translate3d(0, 0, 0);
    }

    li.current {
      z-index: 1;
      clip: rect(0, 100vw, 100vh, 0);
    }

    li.prev {
      clip: rect(0, 0, 100vh, 0);
    }

    .slider nav {
      position: absolute;
      bottom: 5%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }

    nav a {
      display: inline-block;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.2rem;
      min-width: 12px;
      min-height: 12px;
      background: #ffffff7c;
      margin: 0 1rem;
      text-shadow: 3px 2px 4px $dark;
      transition: transform .3s;
    }

    a.current_dot {
      transform: scale(1.4);
    }

    .port-1 {
      background-image: url(../assets/portfolio/job1.webp);
    }

    .port-2 {
      background-image: url(../assets/portfolio/job2.webp);
    }

    .port-3 {
      background-image: url(../assets/portfolio/job3.webp);
    }

    @media screen and (max-width: 700px) {
      .left {
        width: 100%;
        height: 30%;
      }

      .slider {
        width: 100%;
        height: 70%;
      }
    }
  }

  #testimonials {
    p {
      margin-top: 0;
      margin-bottom: 30px;
    }
    
    /* List reset */
    ul {
      padding: 0;
      margin: 0;
    }
    
    button {
      background-color: transparent;
      border: none;
      width: 55px;
      padding: 20px;
      transition: opacity 200ms;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0, -50%, 0);
      z-index: 2;
      
      svg {
        fill: $grey-dark;
      }
      
      &:hover,
      &:focus {
        opacity: 0.6;
      }
    }
    
    .button--next {
      left: auto;
      right: 0;
      transform: translate3d(0, -50%, 0) rotate(180deg);
    }
    
    .wrapper {
      height: 60vh;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .is-width-100 {
      width: 100%;
    }
    
    .slide__list {
      
      &::before,
      &::after {
        content: '';
        width: 60px;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        z-index: 1;
      }
    }
    
    .slide__item {
      width: 100%;
      height: 100%;
      padding: 30px;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
      
      > * {
        width: 100%;
      }
    }
    
    .slide__heading,
    .slide__quote,
    .slide__cite {
      opacity: 0;
      animation-timing-function: var(--originalCurve);
      width: calc(100% - 120px);
      margin-left: auto;
      margin-right: auto;
    }
    
    .slide__heading {
      --delay: 300ms;
      
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 0.05em;
    }
      
    .slide__quote {
      --delay: 420ms;
      
      font-size: 1.1rem;
      line-height: 1.4;
      letter-spacing: 0.03em;
    }
    
    .slide__cite {
      --delay: 540ms;
      
      display: block;
    }
    
    /*
      Customised Wallop styles with customised animations
      @author http://pedroduarte.me/wallop
    */
    
    [data-carousel] {
      position: relative;
    }
    
    .Wallop-list {
      position: relative;
      overflow: hidden;
    }
    
    .Wallop-item {
      --x1: 0.1;
      --y1: 0.67;
      --x2: 0.29;
      --y2: 0.98;
      
      --originalCurve: cubic-bezier(var(--x1), var(--y1), var(--x2), var(--y2));
      --reversedCurve: cubic-bezier(calc(1 - var(--x2)), calc(1 - var(--y2)), calc(1 - var(--x1)), calc(1 - var(--y1)));
      
      --length: 1300ms;
      
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    
    .Wallop-item--current {
      visibility: visible;
      position: relative;
      
      .slide__heading,
      .slide__quote,
      .slide__cite {
        animation: slideIn var(--length) forwards var(--originalCurve);
      }
    }
    
    .Wallop-item--showPrevious {
      .slide__heading,
      .slide__quote,
      .slide__cite {
        animation: slideOut var(--length) var(--delay) forwards reverse var(--reversedCurve);
      }
    }
    
    .Wallop-item--showNext {
      .slide__heading,
      .slide__quote,
      .slide__cite {
        animation: slideIn var(--length) var(--delay) forwards var(--originalCurve);
      }
    }
    
    .Wallop-item--hidePrevious,
    .Wallop-item--hideNext {
      --length: 500ms;
      visibility: visible;
    }
    
    .Wallop-item--hidePrevious {
      .slide__heading,
      .slide__quote,
      .slide__cite {
        animation: slideOut var(--length) forwards var(--originalCurve);
      }
    }
    
    .Wallop-item--hideNext {
      .slide__heading,
      .slide__quote,
      .slide__cite {
        animation: slideIn var(--length) forwards reverse var(--reversedCurve);
      }
    }
    
    
    /* Custom keyframe animation */
    
    @keyframes slideIn {
      0% {
        transform: translate3d(50%, 0, 0);
        opacity: 0;
      }
      100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
    
    @keyframes slideOut {
      0% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
      100% {
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
      }
    }
  }
}